<nav id="navbar-top">Mike Vanger | About | Projects | Contact</nav>
<div id="page-top">
  <h1>My name is Mike Vanger</h1>
  <h2>I am a:</h2>
  <p>Data Scientist</p>
  <p>Web Developer</p>
  <p>Mathematician</p>
  <p>Art Historian</p>
  <h2>I am not a:</h2>
  <p>Designer</p>
</div>
<div id="about">
  <h2>About</h2>
  <span id="about-left">
    I am a student in Northwestern University's Master of Science in Analytics program. In the summer of 2013 I completed the Web Development Immersive course at General Assembly in New York, where I learned full-stack Ruby on Rails development. I completed my undergraduate degree at NYU, where I double majored in Mathematics and Art History. THIS IS GROSS
  </span>
  <span id="about-right">
    I am a passionate sports fan, especially when it comes to baseball. I played it for four years at NYU, and this passion motivated my first Ruby on Rails app, Daily Pitches. Living in New York for most of the last five years, with its superb collection of museums, has fueled my interest in art. Finally I'm also passionate about American history, education, and Spaghetti Westerns. THIS IS EVEN GROSSER
  </span>
</div>
<div id="contact">
  <h2>Contact Info</h2>
  <p>michaelvanger2014@u.northwestern.edu</p>
  <p>Current city: New York</p>
  <p>Here will go images that link to linkedin, twitter, NU, github</p>
</div>
<div id="container">Portfolio Site</div>