<div id="nav">
  <nav id="navbar-top-left">
    Mike Vanger
  </nav>
  <nav id="navbar-top-right">
    <span id="span-about">About</span>
    <span id="span-contact"> | Contact</span>
<!--     <span id="span-projects"> | Projects</span> -->
  </nav>
</div>
<div id="page-top-container">
  <div id="page-top">
    <div id="pros">
      <h1>Mike Vanger is a:</h1>
      <p>Data Scientist</p>
      <p>Software Writer</p>
      <p>Mathematician</p>
      <p>Art Historian</p>
    </div>
    <!-- <div id="cons">
      <small>
        <h2>He is not a: Designer</h2>

      </small>
    </div> -->
  </div>
</div>
<div id="about">
  <h2>About</h2>
  <span id="about-left">
    I am currently a student in Northwestern University's Master of Science in Analytics program. Last summer, I completed the Web Development Immersive course at General Assembly in New York, where I learned full-stack Ruby on Rails development. I completed my undergraduate degree at NYU, where I double majored in Mathematics and Art History.
  </span>
  <span id="about-right">
    Skills:</br>
      --Ruby, Python, Java, JavaScript (jQuery, Backbone.js, d3.js), Rails, HTML, CSS</br></br>
      --Hadoop, R, SAS, SQL (PostgreSQL, MySQL), NoSQL (MongoDB), Pig, Hive</br></br>
      --Statistics, Machine Learning, Data Mining, Predictive Analytics</br>
  </span>
</div>
<div id="contact-container">
  <div id="contact">
    <h2>Contact Info</h2>
    <p>michaelvanger2014@u.northwestern.edu</p>
    <p>Current city: Boston</p></br>
    <a href="http://www.linkedin.com/pub/michael-vanger/52/b18/432">
      <img src="assets/linkedin-icon.png" class="icon" />
    </a>
    <a href="http://www.twitter.com/mvanger">
      <img src="assets/twitter-icon.png" class="icon" />
    </a>
    <a href="http://www.analytics.northwestern.edu/">
      <img src="assets/northwestern-icon.png" class="icon" />
    </a>
    <a href="http://www.github.com/mvanger">
      <img src="assets/github-icon.png" class="icon" />
    </a>
  </div>
</div>
<!-- <section id="container">
  <h2>Projects</h2>
</section> -->