<div id="nav">
  <nav id="navbar-top-left">
    Mike Vanger
  </nav>
  <nav id="navbar-top-right">
    <span id="span-about">About</span>
    <span id="span-contact"> | Contact</span>
    <span id="span-projects"> | Projects</span>
  </nav>
</div>
<div id="page-top-container">
  <div id="page-top">
    <div id="pros">
      <h1>Mike Vanger is a:</h1>
      <p>Data Scientist</p>
      <p>Web Developer</p>
      <p>Mathematician</p>
      <p>Art Historian</p>
    </div>
    <div id="cons">
      <small>
        <h2>He is not a: Designer</h2>

      </small>
    </div>
  </div>
</div>
<div id="about">
  <h2>About</h2>
  <span id="about-left">
    In the fall, I will be a student in Northwestern University's Master of Science in Analytics program. Currently, I am enrolled in the Web Development Immersive course at General Assembly in New York, where I'm learning full-stack Ruby on Rails development. I completed my undergraduate degree at NYU, where I double majored in Mathematics and Art History.
  </span>
  <span id="about-right">
    I am a passionate sports fan, especially for baseball. I played for four years at NYU, and this passion motivated my first Ruby on Rails app, Daily Pitches. Living in New York for most of the last five years, with its superb collection of museums, has fueled my interest in art. Finally I'm also passionate about American history, education, and Spaghetti Westerns.
  </span>
</div>
<div id="contact-container">
  <div id="contact">
    <h2>Contact Info</h2>
    <p>michaelvanger2014@u.northwestern.edu</p>
    <p>Current city: New York</p></br>
    <a href="http://www.linkedin.com/pub/michael-vanger/52/b18/432">
      <img src="assets/linkedin-icon.png" class="icon" />
    </a>
    <a href="http://www.twitter.com/mvanger">
      <img src="assets/twitter-icon.png" class="icon" />
    </a>
    <a href="http://www.analytics.northwestern.edu/">
      <img src="assets/northwestern-icon.png" class="icon" />
    </a>
    <a href="http://www.github.com/mvanger">
      <img src="assets/github-icon.png" class="icon" />
    </a>
  </div>
</div>
<section id="container">
  <h2>Projects</h2>
</section>