{{#each collection.models }}
  <div class="project">
    <span class="project-left">
      <h2>
          {{ attributes.title }}
      </h2>
      <p>
        <a href="{{ attributes.link }}">
          {{ attributes.link }}
        </a>
      </p>
      <p>{{ attributes.description }}</p>
    </span>
    <span class="project-center">
      <img src="assets/daily_pitches_1.png" width=8% /></br>
      <img src="assets/daily_pitches_2.png" width=8% /></br>
      <img src="assets/daily_pitches_3.png" width=8% />
    </span>
    <span class="project-right">
      <img src="assets/daily_pitches_1.png" width=70% />
    </span>
  </div>
{{/each}}