body, html {
  height: 100%;
  background-color: black;
  font-family: Arial;
}

#nav {
  height: 6%;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: black;
  top: 0;
}

#navbar-top-left {
  width: 30%;
  height: 5%;
  color: white;
  font-family: Helvetica;
  font-size: 150%;
  padding-left: 2%;
  padding-top: 10px;
  cursor: pointer;
}

#navbar-top-right {
  height: 5%;
  color: white;
  font-family: Helvetica;
  float: right;
  cursor: pointer;
  padding-right: 2%;
}

section {
  height: 100%;
  background-color: #4B0082;
}

#page-top-container {
  height: 100%;
  background-color: #0000A0;
  color: white;
  font-family: Arial Black;
  align-self: center;
  position: relative;
  height: 100%;
}

#page-top {
  position: absolute;
  padding-top: 5%;
  /*width: 75%;*/
  margin-left: 25%;
  margin-right: 25%;
}

#pros p {
  font-size: 4em;
  line-height: 4px;
}

#cons {
  text-align: right;
  padding-top: 40px;
}

#about {
  height: 50%;
  background-color: #4B0082;
  color: white;
}

#about h2 {
  text-align: center;
  padding-top: 5%;
}

#about-left {
  float: left;
  width: 25%;
  text-align: justify;
  padding-left: 17%;
  padding-right: 8%;
  padding-top: 2%;
}

#about-right {
  float: right;
  width: 25%;
  text-align: justify;
  padding-left: 8%;
  padding-right: 17%;
  padding-top: 2%;
}

#contact-container {
  height: 50%;
  background-color: #0000A0;
  color: white;
  text-align: center;
  position: relative;
}

#contact {
  top: 20%;
  position: absolute;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.icon {
  -webkit-filter: grayscale(1);
}

.project {
  height: 50%;
  color: white;
  border-bottom: thick solid #000000;
}

.project a {
  color: white;
}

.project-left {
  float: left;
  width: 35%;
  margin-left: 5%;
  margin-top: 5%;
}

.project-center {
  float: left;
  width: 15%;
  margin-left: 5%;
  margin-top: 7%;
}

.big-image {
  border: ridge;
  border-color: gray;
  border-width: 5px;
}

.project-right {
  float: left;
  width: 35%;
  margin-left: 0%;
  margin-top: 5%;
}